@charset "utf-8";

/*/////////////////header start//////////////////*/
#header {width:1198px;height:80px;background:#fff;position:absolute;top:30px;left:50%;margin-left:-600px;z-index:980;border:1px solid #fff;border-bottom:none;}
.header_inner .logo {float:left;margin:22px 0 0 28px;}

/*메뉴*/
.gnb {float:left;margin-left:55px;}
.gnb > li {float:left;position:relative;}
.gnb > li:last-child {margin-right:0;}
.gnb > li > a {display:block;line-height:78px;font-family:'nm';font-size:16px;text-align:center;padding:0 20px;border-bottom:2px solid transparent;}
.gnb > li:nth-child(6) > a {color:#e95515;}
.gnb > li:hover > a,.gnb > li.on > a {border-bottom:2px solid #ffa300;}
.gnb > li:nth-child(2) .submenu {left:-343px;}
.gnb > li:nth-child(2) .submenu ul {padding-left:294px;}
.gnb > li:nth-child(4) .submenu {left:-523px;}
.gnb > li:nth-child(4) .submenu ul {padding-left:412px;}
.gnb > li:nth-child(5) .submenu {left:-634px;}
.gnb > li:nth-child(5) .submenu ul {padding-left:613px;}
.gnb > li:nth-child(6) .submenu {left:-731px;}
.gnb > li:nth-child(6) .submenu ul {padding-left:729px;}
.gnb .submenu {position:absolute;left:0;top:80px;z-index:10;width:1198px;background:#fff;height:60px;display:none;border:1px solid #dbdbdb;}
.gnb .submenu > ul > li {float:left;}
.gnb .submenu > ul > li.bar {line-height:60px;margin:0 14px;color:#727272;font-family:'Malgun Gothic', '맑은 고딕';}
.gnb .submenu > ul > li > a {font-size:14px;color:#727272;display:block;line-height:60px;}
.gnb .submenu > ul > li > a:hover {color:#333;}
.ud_bar {width:100%;border:2px solid #ffa300;position:absolute;bottom:-1px;z-index:10;}

/*로그인/회원가입/센터소식*/
.util {overflow:hidden;position:absolute;right:80px;}
.util li {float:left;}
.util li.bar {line-height:80px;color:#9f9f9f;margin:0 7px;}
.util li a {display:block;line-height:80px;font-size:12px;color:#9f9f9f;}
.util li a:hover {color:#e95515;}

/*sns버튼*/
.sns {float:right;overflow:hidden;margin:32px 31px 0 0;}
.sns li {float:left;}
.sns li a {display:block;line-height:80px;text-indent:-9999em;width:18px;height:18px;}
.sns li .btn_fb {background:url(../images/main/facebook_off.png) no-repeat;margin-right:5px;}
.sns li .btn_fb:hover {background-image:url(../images/main/facebook_on.png);}
.sns li .btn_kn {background:url(../images/main/kn_off.png) no-repeat;}
.sns li .btn_kn:hover {background-image:url(../images/main/kn_on.png);}
/*/////////////////header End//////////////////*/

/*메인팝업*/
.main_popup .inner {width:1200px;margin:0 auto;position:relative;}
.main_popup_close {position:absolute;right:10px;top:10px;background:transparent url(../images/common/popup_close.png) no-repeat;width:32px;height:32px;text-indent:-9999em;}
.main_popup label {position:absolute;cursor:pointer;font-size:13px;color:#fff;right:0px;bottom:5px;text-align:right;}
.main_popup input[type="checkbox"] {vertical-align:middle;margin-right:5px;}

/*/////////////////메인 이미지//////////////////*/
.main_visual {position:relative;height:914px;background:url(../images/main/visual1.jpg) no-repeat center center;-webkit-background-size:cover;
background-size:cover;}
.section_btn {position:fixed;top:463px;right:12%;z-index:100;}
.section_btn li button {background:url(../images/main/dot_off.png) no-repeat;width:14px;height:14px;text-indent:-9999em;display:block;margin-bottom:9px;outline:none;}
.section_btn li button:hover, .section_btn li button.on {background-image:url(../images/main/dot_on.png)}
.main_visual .slide_inner {width:838px;margin:0 auto;text-align:center;}
.main_visual .main_txt1 {font-family:'nm';color:#fff;font-size:46px;padding-top:265px;letter-spacing:-1px;}
.main_visual .main_txt2 {font-family:'nr';color:#ff6224;font-size:36px;letter-spacing:-1px;}
.visual_btn_wrap {overflow:hidden;margin-top:130px;}
.visual_btn_wrap a {float:left;display:block;height:73px;width:33.333333333333%;border:1px solid #878787;background:#000;/* IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";/* IE 5-7 */filter: alpha(opacity=60);/* Netscape */-moz-opacity: 0.6;/* Safari 1.x */-khtml-opacity: 0.6;/* Good browsers */opacity: 0.6;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;}
.visual_btn_wrap a:first-child {border-right:0;}
.visual_btn_wrap a:last-child {border-left:0;}
.visual_btn_wrap a .btn_title {font-family:'nd';color:#fff;font-size:18px;padding:13px 0 10px 0;}
.scrolldown {position:absolute;bottom:40px;left:50%;margin-left:-35px;}
/*/////////////////메인 이미지 End//////////////////*/

/*/////////////////container start//////////////////*/
/* container 타이틀 공통*/
.title_box {text-align:center;padding:130px 0 50px 0;}
.title_box .top_line {border-top:2px solid #ff6224;width:36px;display:inline-block;margin-top:18px;}
.title_box .title {font-size:32px;color:#333;font-family:'nm';}

/*미디어*/
.main_media {width:1200px;margin:0 auto;}
.main_media_box {border:1px solid #d1d1d1;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;}
.main_media h3 {font-family:'nm';font-size:22px;color:#1d3353;}
.main_media h4 {font-family:'nm';font-size:18px;}
.main_media h5 {font-weight:bold;font-size:14px;color:#33445d;margin-bottom:5px;width:334px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.main_media p {color:#6a6b6d;line-height:1.3em;word-break:keep-all;font-size:13px;}
.main_media .top {overflow:hidden;}
.main_media .top h3 {float:left;}
.main_media .top a {float:right;display:block;padding-top:10px;}
.main_media td {vertical-align:top;padding:25px 30px;}
.main_media tr td:nth-child(1) {border-right:1px solid #d1d1d1;background:#fafafa;}
.main_media tr td:nth-child(2) {border-right:1px solid #d1d1d1;background:#6382c3;}
.main_media tr:first-child td {background:#fff;border-bottom:1px solid #d1d1d1;}
.main_media tr:first-child td:nth-child(3) {background:#fafafa;}
.main_media tr:nth-child(2) a, .main_media tr:nth-child(3) a {display:block;}
.main_media tr:nth-child(2) td a, .main_media tr:nth-child(3) td a {overflow:hidden;}
.main_media tr:nth-child(2) td:nth-child(1) h5 {padding-top:20px;}
.main_media tr:nth-child(2) td:nth-child(1) a {border-bottom:1px solid #e1e1e1;height:160px;}
.main_media tr:nth-child(2) td:nth-child(2) a {border-bottom:1px solid #869ed1;height:160px;}
.main_media tr:nth-child(3) td {padding:0 30px;}
.main_media .date {color:#9fa6ac;font-size:11px;float:right;margin-top:24px;}
.main_media .paragraph h5 {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.main_media .focus_tab_li .paragraph h5 {width:178px;}
.main_media_box a:hover h5,.main_media_box a:hover p {color:#333;}
.main_media_box .newsroom_2 a:hover h5,.main_media_box .newsroom_2 a:hover p {color:#fff !important;}
.main_media_box .newsroom_3 a:hover h5,.main_media_box .newsroom_3 a:hover p {color:#fff !important;}

/*말줄임 클래스*/
p.ellipsis {height:55px;}

/*Focus On*/
.focus_tab_li {position:relative;}
.focus_tab {position:absolute;display:block;width:57px;line-height:23px;font-size:14px;font-weight:bold;text-align:center;color:#a3a3a3;border:1px solid #d1d1d1;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;margin-top:25px;background:#fff;left:0;}
.focus_tab:hover,.focus_tab.on {color:#fff;background:#37404e;border-color:#37404e;}
.focuson_1 ul > li:last-child button {left:57px;}
.focuson_article {display:block;position:absolute;left:0;top:70px;}
.focuson_article.second {display:none;}
.focuson_article img {float:left;margin:4px 17px 0 0;border:1px solid #dfdfdf;}
.focuson_1.first_box .date {margin-top:6px;}

/*News Room*/
.newsroom_1 h4 {padding:20px 0;}
.news_list li {overflow:hidden;margin-bottom:9px;}
.news_list li a {display:block;width:100%;overflow:hidden;}
.newsroom_1 .title {float:left;width:290px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.newsroom_1 .date {color:#999;font-size:13px;margin-top:0;}
.newsroom_2 h4, .newsroom_3 h4 {color:#fff !important;}
.newsroom_2 h4 {margin-bottom:15px;}
.newsroom_2 h5, .newsroom_3 h5 {color:#fff !important;}
.newsroom_2 h5 {width:185px;}
.newsroom_2 p, .newsroom_3 p {color:#d9e3fa !important;}
.newsroom_article img {float:left;margin:4px 17px 0 0;border:1px solid #849cd0;}
.newsroom_article .date {margin-top:2px;color:#a5b7e0;}

/*갤러리*/
.main_gallery_wrap ul {overflow:hidden;margin-top:20px;}
.main_gallery_wrap ul li {float:left;margin-bottom:20px;}
.main_gallery_wrap ul li:nth-child(2n) {float:right;}
.main_gallery_wrap ul li img {display:block;border:1px solid #d3d3d3;}
.main_gallery_wrap ul li p {margin-top:6px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;width:154px;}
.main_gallery {padding-top:20px;display:block;overflow:hidden;}
.main_gallery p {margin-top:6px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.main_gallery .title {float:left;}
.main_gallery .date {margin-top:6px;font-size:13px;}

/*창업 동아리 현황*/
.main_club_content {width:100%;height:574px;border-top:1px solid #d7dadf;background:url(../images/main/club_bg.jpg) no-repeat center center;-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
background-size: cover;}
.main_club_content li {background:#fbfbfb;border:1px solid #dbdbdb;text-align:center;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;position:relative;}
.main_club_content li a {display:block;}
.main_club_content li img {width:100%;}
.honor {position:absolute;display:block;background:url(../images/sub/club/honor_icon.png) no-repeat;width:38px;height:42px;right:11px;top:0;}
.main_club_content h4 {font-family:'nm';font-size:21px;color:#444;padding-top:20px;}
.main_club_content h5 {color:#363636;font-size:14px;padding:15px 0;width:100%;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.main_club_content p {font-size:13px;color:#727272;word-break:keep-all;}
.main_club_content_inner {width:1200px;margin:75px auto 0;position:relative;}
.main_club .bottom {border-top:1px solid #dbdbdb;height:170px;padding:0 10px;}
.main_club .bx-controls-direction a {display:block;width:37px;height:60px;text-indent:-9999em;position:absolute;}
.main_club .bx-prev {background:url(../images/main/btn_club_prev.png) no-repeat;left:-60px;top:140px;}
.main_club .bx-next {background:url(../images/main/btn_club_next.png) no-repeat;right:-60px;top:140px;}
.btn_view_all {display:block;width:203px;height:43px;line-height:45px;font-family:'nr';font-size:16px;color:#fff;margin:60px auto 0;text-align:center;color:#727272;background:#fff url(../images/main/arrow4.png) no-repeat 155px 21px;border:1px solid #b8b8b8;}
.btn_view_all:hover {background:#505053 url(../images/main/arrow2.png) no-repeat 155px 21px;color:#727272;border:1px solid #505053;color:#fff;}

/*/////////////////container End//////////////////*/

/*/////////////////하단 슬라이드 start//////////////////*/
.bottom_slider {border-top:1px solid #d1d1d1;}
.bottom_slider_inner {width:1200px;margin:0 auto;height:80px;position:relative;}
.bottom_slider_inner li {display:table;height:100%;}
.bottom_slider_inner li > a {display:table-cell;vertical-align:middle;text-align:center;}
.bottom_slider_inner .bx-wrapper, .bottom_slider_inner .bx-viewport {height:100%;}
.bottom_slider_inner .bxslider {height:80px;}
.bottom_slider .bx-controls-direction a {display:block;width:11px;height:19px;text-indent:-9999em;position:absolute;}
.bottom_slider .bx-prev {background:url(../images/main/btn_bt_prev.png) no-repeat;left:0;top:30px;}
.bottom_slider .bx-next {background:url(../images/main/btn_bt_next.png) no-repeat;right:0;top:30px;}
/*/////////////////하단 슬라이드 End//////////////////*/

/*/////////////////footer start//////////////////*/
#footer {background:#f9f9f9;border-top:1px solid #d1d1d1;}
.footer_inner {width:1200px;margin:0 auto;overflow:hidden;padding:23px 0 40px 0;}
#footer h1 {float:left;width:20%;}
.footer_right {float:left;width:80%;}
.policy {overflow:hidden;width:100%;border-bottom:1px solid #e2e2e2;padding-bottom:24px;}
.policy li {float:left;}
.policy li.bar {color:#777;font-size:13px;margin:0 20px;}
.policy li a {color:#777;font-size:13px;}
.policy li a:hover {color:#333;}
#footer address {color:#777;font-size:13px;padding-top:22px;line-height:1.5em;}
.copyright {color:#777;font-size:13px;padding-top:20px;}
/*/////////////////footer End//////////////////*/

@media screen and (max-width:1200px){
	.main_club .bx-prev {left:0;}
	.main_club .bx-next {right:0;}
}